<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index Page</title>
</head>
<body>
	<form action="save" method="post">
		<table>
			<tr>
				<td><label for="AdharCard">Name</label></td>
				<td><input type="text" name="name"></input></td>
			</tr>
			<tr>
				<td><label for="address">Address</label></td>
				<td><input type="text" name="address"></input></td>
			</tr>
			<tr>
				<td><label for="age">Age</label></td>
				<td><input type="text" name="age"></input></td>
			</tr>
			<tr>
				<td><label for="uUID">UUID</label></td>
				<td><input type="text" name="uUID"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></input></td>
			</tr>
		</table>
	</form>
</body>
</html>
